{% extends "alero_app/base.html" %}

{% block content %}
    <h2>Welcome, {{ user.username }}!</h2>
    {% if user.is_staff %}
        <a href="{% url 'alero_app:create_announcement' %}"><button>Create Announcement</button></a>
    {% endif %}
    <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <hr>
    <h2>Announcements</h2>
    <hr>
    {% for ann in anns %}
        <br>
        <h3>{{ann.title}}</h3>
        <p>{{ann.text}}</p>
        <span style="size: 4px;">Last modified: {{ann.modified}}</span>
        {% if user.is_staff %}
            <br>
            <a href="{% url 'alero_app:edit_announcement' ann.id %}"><button>Edit</button></a>
            <a href="{% url 'alero_app:delete_announcement' ann.id %}"><button>Delete</button></a>
        {% endif %}
        <hr>
    {% empty %}
        <p> No announcements yet.</p>
    {% endfor %}
{% endblock %}